
.main-content {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 200px;
    border: 1px  blue solid;
}
.content{
    position: absolute;
    right: 150px;
    top: 50px;
}
a{
    position: absolute;
    width: 200px;
    right: -20px;
    top:30px;
}


