body{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.list-student-content{
    margin: 0 auto;
    width:80%;
    height: 550px;
    margin-top: 100px;
    border: 1px solid #0093c4;
    padding: 10px;
   
}
#table-content1{
    margin: 0 auto;
 }
 #btn-search{
    margin-left: 28%;
    margin-bottom: 20px;
 }

th, td {
    padding: 15px;
    padding-top: 0px;
    text-align: left;
    
  }

#table-content2{
    border-spacing: 10px;
    border-collapse: separate;
    margin: 0 auto;
}
.btn-box{
    color: #ffffff;
    border: 3px solid #004ba0;
    background-color: #1976d2;
    line-height: 25px;
    width: 100px;
    border-radius: 5px;
}

#select-item{
    border: 1px solid #0093c4;
    width: 155px;
    height: 30px;
}
#key{
    border: 1px solid #0093c4;
    width: 150px;
    height: 25px;
}
#keyWord{
    border: 1px solid #0093c4;
    width: 150px;
    height: 25px;
}